

/* Start:/local/components/vlad/simple.catalog/templates/.default/vlad/simple.catalog.section/.default/style.css?1496075982897*/
._product_card ._article
{
    position: absolute;
    right: 0;
    background-color: white;
    padding: 5px;
    font-weight:600;
    z-index: 10;
    border-radius: 10px 0 0 0;
    bottom: 0;
}

._product_card ._label
{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

._product_card ._label span
{
    color: black;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    border-bottom: 1px dashed black;
}

._product_card ._short_description
{
    text-align: center;
    color: black;
}

._product_card
{
    min-height: 250px;
    margin-bottom: 20px;
}

._product_card ._picture
{
    min-height: 168px;
    background-position: center center;
}

._product_card ._inner {
    border: 1px solid black;
    padding: 0;
    padding-bottom: 100%;
    max-height: 265px;
 
    max-width: 235px;
    overflow: hidden;
}
/* End */
/* /local/components/vlad/simple.catalog/templates/.default/vlad/simple.catalog.section/.default/style.css?1496075982897 */
